<div class="container m-4" style="position: absolute; top:50px">
    <h1 class="text-danger">Update Student</h1>
    <a routerLink="/" class="btn btn-danger float-end">Back</a>
    <div>
        <div *ngIf="isLoading; else elseForm">
            <app-loader :title="loadingTitle"></app-loader>
        </div>
        <ng-template #elseForm>
            <div *ngIf="student">
                <form (ngSubmit)="updateStudent()">
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="student.name" name="name" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label>course</label>
                        <input type="text" [(ngModel)]="student.course" name="course" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label>email</label>
                        <input type="text" [(ngModel)]="student.email" name="email" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label>phone</label>
                        <input type="text" [(ngModel)]="student.phone" name="phone" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-warning">Update</button>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
</div>