<div class="container m-4" style="position: absolute; top:50px">
    <h1 class="text-danger">Student's Record</h1>

    <form #filterForm="ngForm" [formGroup]="formGroup">
      <div class="row">
        <div class="col-6">
          <label>Search</label>
          <input
            class="form-control w-50"
            type="text"
            formControlName="search"
            placeholder="Search..."
            name="search"
          />
        </div>
        <div class="col-6">
        <label>Select Course</label>
        <select class="form-control w-50" name="statusData" id="" formControlName="course">
          <option value="">Select Status</option>
          <option value="typicode">Typicode</option>
          <option value="angular">Angular</option>
          <option value="react">React</option>
        </select>
      </div>
      </div>
    </form>
 
    <div>
      <div *ngIf="isLoading; else elseTableBlock">
        <app-loader></app-loader>
      </div>
      <ng-template #elseTableBlock>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.course}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                <td>
                    <div>
                        <a routerLink="/edit/{{student.id}}" class="btn btn-warning mx-2">Edit</a>
                        <button type="button" (click)="deleteStudent($event,student.id)" class="btn btn-danger">Delete</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
      </ng-template>
    </div>

</div>