<div class="container m-4" style="position: absolute; top:50px">
    <h1 class="text-danger">Student's Record</h1>
    <!-- <button class="btn btn-primary m-1">Add Student</button> -->
    <div>
      <div *ngIf="isLoading; else elseTableBlock">
        <app-loader></app-loader>
      </div>
      <ng-template #elseTableBlock>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.course}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                <td>
                    <div>
                        <a routerLink="/edit/{{student.id}}" class="btn btn-warning mx-2">Edit</a>
                        <button type="button" (click)="deleteStudent($event,student.id)" class="btn btn-danger">Delete</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
      </ng-template>
    </div>

</div>